
/* import Roboto from Google Fonts */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    font-family: 'Roboto', 'Helevetica', sans-serif;

}

.main {
    padding: 0 1em;
}

a  {
    text-decoration: none;
}

button {
    border: none;
    font-family: 'Roboto', 'Helevetica', sans-serif;
    font-weight: 500;
    padding: 1em 1.25em !important;
    font-size: 16px;
    min-width: 200px;
}

.button {
    display: inline-block;
    box-sizing: border-box;
    color: #eee;
    margin: 1em 0;
    font-weight: 500;
    padding: 1em 1.25em;
    text-align: center;
    min-width: 200px;
    border-radius: 3px;
    overflow: hidden;
    z-index: 0;
    cursor: pointer;
    background: #0a3c91;
}

.button:hover {
    background: #001a43;
}

.button:active {
    background: #215bea;
    box-shadow: 0px 1px 1px #215bea;
}

.button-sm {
    padding: 0.5em;
}

.button-md {
    padding: 0.75em;
}

.button-lg {
    padding: 1.25em;
}


