<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Profile Card</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="profile-card.css">

</head>

<body>

    <div class="main">

        <h3 class="align-center">Profile Card</h3>

        <div id="profile-card-wrapper">
              <div class="bg-image">
                  <div id="user-photo" class="overlay">
                      <img src="../img/lena.jpg">
                  </div>
                  <div class="profile-info">
                      <p class="profile-name uppercase align-center">Lena Faure</p>
                      <p class="profile-path align-center">Front-End Developer</p>
                  </div>
              </div>
              <div class="profile-resume">
                  <p class="title-infos uppercase">About</p>

                  <p class="infos-text">I am a french developer with a passion for beautiful interfaces. I have always loved all things related to media, marketing and advertising ; I worked for TV channels before teaching myself to code. I  enjoy hiking, and like all French people I live off cheese & champagne evidently !</p>
                  <div>
                      <p class="title-infos uppercase">VISIT ME</p>
                      <div class="infos-text">
                          <a href="http://www.lenafaure.com">www.lenafaure.com</a>
                          <div class="social-icons">
                              <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
                              <a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
                              <a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a>
                          </div>
                      </div>


                  </div>
              </div>

        </div>

    </div>

</body>

</html>
