<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Homepage</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/homepage.css">

</head>

<body>
    <header>
        <ul id="main-menu-wrapper"  class="align-center uppercase">
            <li>
                <a href="#">Buttons</a>
            </li>
            <li>
                <a href="profile-card/profile-card.html">Sidebar</a>
            </li>
            <li>
                <a href="forms/signup-form.html">Forms</a>
            </li>
            <li>
                <a href="calculator/calculator.html">Calculator</a>
            </li>
            <li>
                <a href="product-listing/product-listing.html">Product Listing</a>
            </li>
        </ul>
    </header>

    <div id="intro-wrapper">
        <div class="container">
            <h1 id="main-title" class="uppercase">Léna Faure</h1>
            <p>Career Path 3 : Modern Front-End Developer</p>

            <blockquote>
                <span class="align-left"><i class="fa fa-quote-left "></i></span><br>
                It matters not how strait the gate, <br>
                How charged with punishments the scroll,<br>
                I am the master of my fate : <br>
                I am the captain of my soul. <br>
                <i class="fa fa-quote-right "></i>
            </blockquote>
        </div>
    </div>

</body>

</html>
