<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Buttons</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="forms.css">

</head>
<body>

    <div class="main">

        <form>
            <div>
                <div>
                    <input type="text" class="input-form"  placeholder="Enter your name">
                    <label>Regular input</label>
                    <span >Some help goes here...</span>
                </div>
                <div>
                    <input type="text" class="input-form" placeholder="Enter your email">
                    <label >Input with help</label>
                    <span>Some help goes here...</span>
                </div>

                <div>
                    <select class="input-form">
                        <option value=""></option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                        <option value="4">Option 4</option>
                    </select>
                    <label>Dropdown sample</label>
                </div>
                <div>
                    <textarea rows="3" class="input-form" placeholder="Enter more text"></textarea>
                    <label>Textarea input</label>
                </div>
                <div>
                    <button type="button" class="btn blue">Submit</button>
                    <button type="button" class="btn default">Cancel</button>
                </div>
             </div>
        </form>

    </div>

</body>
</html>
