<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Login Form</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../buttons/buttons.css">
    <link rel="stylesheet" href="forms.css">

</head>

<body class="login-form">

    <div class="prev-next">
        <a href="questionnaire.html" title="Questionnaire Form"><div class="fa fa-long-arrow-left"></div> Previous</a>
        <a href="" >Back to Homepage</a>
        <a href="color-building-form.html" >Next <div class="fa fa-long-arrow-right"></div></a>
    </div>

    <div class="main">

        <div class="form-wrapper parklife">

            <h3 class="main-title">Signup Form</h3>

            <form>
                <div>

                    <div class="input-group">
                        <label for="form-input-1">Your Login</label>
                        <input type="text" class="input-form" id="form-input-1" placeholder="Enter your name">
                    </div>

                    <div class="input-group">
                        <label>Your password</label>
                        <input type="password" class="input-form" placeholder="Enter your email">
                        <span class="help-input">Password must have at least 5 letters and a special character</span>
                    </div>

                    <div class="input-checkbox">
                        <input type="checkbox" id="checkbox1" name="checkbox1" class="md-radiobtn">
                        <label for="checkbox1" class="checkbox-label">Remember me</label>
                    </div>


                    <div class="input-group">
                        <button type="submit" class="button button-md button-aqua">Submit</button>
                        <button class="button button-md button-cancel">Cancel</button>
                 </div>
                </div>
            </form>
        </div>

    </div>

</body>
</html>
