<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Questionnaire Form</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../buttons/buttons.css">
    <link rel="stylesheet" href="forms.css">

</head>

<body class="questionnaire-form">

    <div class="prev-next">
        <a href="search-form.html" ><div class="fa fa-long-arrow-left"></div> Previous</a>
        <a href="../index.html" >Back to Homepage</a>
        <a href="login-form.html" >Next <div class="fa fa-long-arrow-right"></div></a>
    </div>

    <div class="main">

        <div class="form-wrapper kyoto">

            <h3 class="main-title">Questionnaire Form</h3>

            <form>
                <legend>Pick your favorite restaurant in Paris: </legend>
                <div>

                    <div class="input-radio">
                        <input type="radio" id="radio1" name="radio1" class="md-radiobtn" checked="checked">
                        <label for="radio1" class="radio-label"><span></span> Chez Marcel</label>
                    </div>

                    <div class="input-radio">
                        <input type="radio" id="radio2" name="radio1" class="md-radiobtn">
                        <label for="radio2" class="radio-label"><span></span> Big Fernand</label>
                    </div>

                    <div class="input-radio">
                        <input type="radio" id="radio3" name="radio1" class="md-radiobtn">
                        <label for="radio3" class="radio-label"><span></span> Aller Retour</label>
                    </div>

                    <div class="input-radio">
                        <input type="radio" id="radio4" name="radio1" class="md-radiobtn">
                        <label for="radio4" class="radio-label"><span></span> Hotel du Nord</label>
                    </div>

                    <div class="input-radio">
                        <div class="other-quiz">
                            <input type="radio" id="radio5" name="radio1" class="md-radiobtn">
                            <label for="radio5" class="radio-label"><span></span> Other: </label>
                        </div>
                        <div class="other-quiz other-quiz-input">
                            <input type="text" class="input-form" placeholder="Your favorite restaurant">
                        </div>
                    </div>


                </div>
                <div class="button-group">
                    <button type="submit" class="button"> <i class="fa fa-angle-left pull-left" aria-hidden="true"></i> Previous</button>
                    <button type="submit" class="button">Next <i class="fa fa-angle-right pull-right" aria-hidden="true"></i></button>

                </div>
            </form>
        </div>

    </div>

</body>
</html>
