<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Search Form</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../buttons/buttons.css">
    <link rel="stylesheet" href="forms.css">

</head>

<body class="search-form">

    <div class="prev-next">
        <a href="signup-form.html" ><div class="fa fa-long-arrow-left"></div> Previous</a>
        <a href="../index.html" >Back to Homepage</a>
        <a href="questionnaire.html" >Next <div class="fa fa-long-arrow-right"></div></a>
    </div>

    <div class="main">

        <div class="form-wrapper superman">

            <h3 class="main-title">Search a job</h3>

            <form>
                <div>

                    <div class="input-group">
                        <div>
                            <i class="fa fa-user fa-2x"></i>
                        </div>

                        <input type="text" class="input-form" id="form-input-1" placeholder="I am looking for a job as (ex: Developer): ">
                    </div>

                    <div class="input-group">
                        <i class="fa fa-map-marker fa-2x"></i>
                        <select class="input-form">
                            <option  selected="selected" disabled value="Located in:">Located in: </option>
                            <optgroup label="France">
                                <option value="1">Paris</option>
                                <option value="2">Bordeaux</option>
                                <option value="3">Strasbourg</option>
                                <option value="4">Lyon</option>
                            </optgroup>
                            <optgroup label="USA">
                                <option value="1">San Francisco</option>
                                <option value="2">New York</option>
                                <option value="3">Chicago</option>
                                <option value="4">Seattle</option>
                            </optgroup>
                        </select>

                    </div>

                    <div class="input-group">
                        <button type="submit" class="button">Search Jobs</button>
                 </div>
                </div>
            </form>
        </div>

    </div>

</body>
</html>
