<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Search Form</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../buttons/buttons.css">
    <link rel="stylesheet" href="forms.css">

</head>

<body class="search-form">

    <div class="main">

        <div class="form-wrapper superman">

            <h3 class="main-title">Search Form</h3>

            <form>
                <div>

                    <div class="input-group">
                        <label for="form-input-1">What movie are you looking for ?</label>
                        <input type="text" class="input-form" id="form-input-1" placeholder="Type your search here">
                    </div>

                    <div class="input-group">
                        <label>Select a category for your movie :</label>
                        <select class="input-form">
                            <option value=""></option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                            <option value="4">Option 4</option>
                        </select>
                        <i class="fa fa-angle-down fa-lg"></i>
                    </div>

                    <div class="input-group">
                        <button type="submit" class="button button-md button-aqua">Search</button>
                        <button class="button button-md button-cancel">Cancel</button>
                 </div>
                </div>
            </form>
        </div>

    </div>

</body>
</html>
