<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Shipping & Billing Form</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../buttons/buttons.css">
    <link rel="stylesheet" href="forms.css">

</head>

<body class="shipping-billing-form">

<div class="prev-next">
    <a href="color-building-form.html" ><div class="fa fa-long-arrow-left"></div> Previous</a>
    <a href="../index.html" >Back to Homepage</a>
    <a href="scheduling-form.html" >Next <div class="fa fa-long-arrow-right"></div></a>
</div>

<div class="main">

    <div class="form-wrapper">

        <h3 class="main-title">Shipping & Billing Details</h3>

        <h5>Please enter the address we will use to ship the products :</h5>
        <form>
            <div>

                <div class="input-group">
                    <label for="form-input-1">Your First Name</label>
                    <input type="text" class="input-form" id="form-input-1" placeholder="Enter your first name">
                </div>

                <div class="input-group">
                    <label for="form-input-2">Your Last Name</label>
                    <input type="text" class="input-form" id="form-input-2" placeholder="Enter your last name">
                </div>

                <div class="input-group">
                    <label>Your Address</label>
                    <input type="text" class="input-form" placeholder="Enter your address">
                </div>

                <div class="input-group">
                    <label>Your City</label>
                    <input type="text" class="input-form" placeholder="Enter your City name">
                </div>

                <div class="input-group">
                    <label>Your Country</label>
                    <input type="text" class="input-form" placeholder="Enter your Country Name">
                </div>


                <hr>

                <h5s>Please enter the address for billing :</h5s>

                <div class="input-checkbox">
                    <input type="checkbox" id="checkbox1" name="checkbox1" class="md-radiobtn">
                    <label for="checkbox1" class="checkbox-label">The shipping and billing address are the same</label>
                </div>

                <div class="input-group">
                    <label for="form-input-1">Your First Name</label>
                    <input type="text" class="input-form" id="form-input-1" placeholder="Enter your first name">
                </div>

                <div class="input-group">
                    <label for="form-input-2">Your Last Name</label>
                    <input type="text" class="input-form" id="form-input-2" placeholder="Enter your last name">
                </div>

                <div class="input-group">
                    <label>Your Address</label>
                    <input type="text" class="input-form" placeholder="Enter your address">
                </div>

                <div class="input-group">
                    <label>Your City</label>
                    <input type="text" class="input-form" placeholder="Enter your City name">
                </div>

                <div class="input-group">
                    <label>Your Country</label>
                    <input type="text" class="input-form" placeholder="Enter your Country Name">
                </div>

                <div class="button-group">
                    <button class="button button-md button-cancel">Cancel</button>
                    <button type="submit" class="button button-md button-aqua">Submit</button>
                </div>
            </div>
        </form>
    </div>

</div>

</body>
</html>
