<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Signup Form</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../buttons/buttons.css">
    <link rel="stylesheet" href="forms.css">

</head>

<body class="signup-form">

    <div class="prev-next">
        <a href="card-form.html" ><div class="fa fa-long-arrow-left"></div> Previous</a>
        <a href="../index.html" >Back to Homepage</a>
        <a href="search-form.html" >Next <div class="fa fa-long-arrow-right"></div></a>
    </div>


    <div class="main">

        <div class="form-wrapper man-of-steel">

            <h3 class="main-title">Signup Form</h3>

            <form>
                <div>

                    <div class="input-group">
                        <label for="form-input-1">Your First Name</label>
                        <input type="text" class="input-form" id="form-input-1" placeholder="Enter your first name">
                    </div>

                    <div class="input-group">
                        <label for="form-input-2">Your Last Name</label>
                        <input type="text" class="input-form" id="form-input-2" placeholder="Enter your last name">
                    </div>

                    <div class="input-group">
                        <label>Your email</label>
                        <input type="email" class="input-form" placeholder="Enter your email">
                        <span class="help-input">Enter a valid email adress.</span>
                    </div>

                    <div class="input-group">
                        <label>Your date of birth</label>
                        <input type="date" class="input-form" placeholder="Enter your date of birth">
                    </div>

                    <div class="input-group">
                        <label>Your password</label>
                        <input type="password" class="input-form" placeholder="Enter your password">
                        <span class="help-input">Password must have at least 5 letters and a special character</span>
                    </div>



                   <!-- <div class="input-group">
                        <label>Dropdown sample</label>
                        <select class="input-form">
                            <option value=""></option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                            <option value="4">Option 4</option>
                        </select>
                        <i class="fa fa-angle-down fa-lg"></i>
                    </div>


                    <div class="input-group">
                        <label>Textarea input</label>
                        <textarea rows="6" class="input-form" placeholder="Enter more text"></textarea>
                    </div> -->

                    <div class="input-group">
                        <button type="submit" class="button button-md button-aqua">Submit</button>
                        <button class="button button-md button-cancel">Cancel</button>
                 </div>
                </div>
            </form>
        </div>

    </div>

</body>
</html>
